*{
  padding: 0;
}
body {
  background-image: url('../imagenes/fondo.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
canvas {
  width: 65%;
  background-color: rgba(182, 255, 96, 0.40);
  margin: auto;
  display: flex;
  margin-top: 6%;
}
a{
  font-size: 2em;  
  color: white;
  font-family: monospace;
  text-decoration: none;
}
.boton-recargar {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20%;
  position: absolute;
  top:0;
  left: 0; 
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
  border: 4px solid green;
  color: white;
  font-family: monospace;
  visibility: hidden;
}
.boton-continuar{
  width: 100%;
  padding-top: 3%; 
  padding-bottom: 4%;
  text-align: center;
  position: fixed;
  bottom:0;
  left: 0; 
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
}
#botonera{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}
.izq{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#flechaDer{
  margin: 0 25px 0 45px;
}
#flechaIzq{
  margin-left: 45px;
}
.flecha{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4); 
  font-size: 1.6em;
  color: rgba(240, 240, 240, 0.4); 
}
input{
  border: rgba(0, 0, 0, 0.5);  
}

.flecha:focus {
  outline: none;
}
.flecha:hover{
  background-color: rgba(240, 240, 240, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1200px){
  body {
    margin: 0;
  }
  canvas {
  width: 95%;
  margin-top: 0;
  }
  #botonera{
    display: flex;
  }
  img{
    width: 90%;
  }
  .boton-continuar {
    padding-bottom: 3%;
  }
}
@media screen and (max-width: 900px){
  canvas , img {
  width: 100%;
  }
  .boton-continuar {
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 640px){
  canvas, img {
  width: 91%;
  margin-top: 0;
  }
  .boton-continuar {
    padding-top: 2%;
  }
}
@media screen and (max-width: 360px){
  canvas , img {
  width: 100%;
  margin-top: 25%;
  }  
  .boton-recargar {
    height: 34vh;
    font-size: 1.3em;
    margin-top: 22%;
    padding-top: 28%;   
  }
  #botonera{
    align-items: flex-end;
  }
}

/** { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }*/