body {
  background-image: url('../imagenes/fondo.png');
}

canvas {
  margin: auto;
  display: flex;
  margin-top: calc(50vh - 286px);
}

.boton-recargar {
  position: absolute;
  top:19%;
  left: 15%;
  padding: 380px 20% 168px 20%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em; 
  display: flex;  
  border: 4px solid green;
  color: white;
  font-family: monospace;
  visibility: hidden;
}
